body {
  

}
h1 {
  color: blue;
  background: #D0E4F5 url("https://i.pinimg.com/originals/4e/9c/05/4e9c050e76a28d3c979823ea6c997cd7.jpg") no-repeat scroll 0 0;

}
p {
  color: red;
  background: #D0E4F5 url("https://i.pinimg.com/originals/4e/9c/05/4e9c050e76a28d3c979823ea6c997cd7.jpg") no-repeat scroll 0 0;

}
